1-1/.idea/
varios-varios/.idea/
calificada/.idea/
atributos-enlace/.idea/
atributos-enlace2/.idea/
clase-asociacion-sae/.idea/
clase-asociacion-sae2/.idea/
clase-asociacion-ae/.idea/
1-1/main
varios-varios/main
calificada/main
atributos-enlace/main
atributos-enlace2/main
clase-asociacion-sae/main
clase-asociacion-sae2/main
clase-asociacion-ae/main
